%p
= link_to "Grasshopper", "http://www.youtube.com/watch?v=J5kBqrHphjo", :target => "_blank"
= "is it really you?"
%p
= form_tag sessions_path do    
  .field
    = label_tag :email
    = text_field_tag :email, params[:email]
  .field
    = label_tag :password
    = text_field_tag :password
  .actions 
    -# image_submit_tag("login.png")
    = submit_tag "Login" 

%p
%p
  = link_to "Register", :controller => :registerations, :action => :new
  -# = link_to image_tag('register.png'), url_for({:controller => 'registerations', :action => 'new'}), :class => ''


