
#centre_block_1
  #bottom-banner
  = image_tag "front_5_reduced.png", :class=>"gallery_card", :title=>"Front"
  = image_tag "disconnect_reduced.png", :class=>"gallery_card", :title=>"Disconect"  
  = image_tag "speech_reduced.png", :class=>"gallery_card", :title=>"Speech"  
  = image_tag "eating_reduced.png", :class=>"gallery_card", :title=>"Eating"  
  = image_tag "cleaning_reduced.png", :class=>"gallery_card", :title=>"Cleaning"   
  = image_tag "considering_others_reduced.png", :class=>"gallery_card", :title=>"Considering Others" 
  = image_tag "distractions_reduced.png", :class=>"gallery_card", :title=>"Distractions"
  = image_tag "drinking_reduced.png", :class=>"gallery_card", :title=>"Drinking"
  = image_tag "ethics_reduced.png", :class=>"gallery_card", :title=>"Ethics"   
  = image_tag "gratitude_reduced.png", :class=>"gallery_card", :title=>"Gratitude" 
  = image_tag "hit_the_brakes_reduced.png", :class=>"gallery_card", :title=>"Hit the brakes"
  = image_tag "impermanence_reduced.png", :class=>"gallery_card", :title=>"Impermanence"
  = image_tag "inner_chatter_reduced.png", :class=>"gallery_card", :title=>"Inner chatter" 
  = image_tag "just_being_reduced.png", :class=>"gallery_card", :title=>"Just Being"
  = image_tag "letting_thinking_go_reduced.png", :class=>"gallery_card", :title=>"Letting thinking go"
  = image_tag "inner_chatter_reduced.png", :class=>"gallery_card", :title=>"Inner chatter" 
  = image_tag "open_awareness_reduced.png", :class=>"gallery_card", :title=>"Open Awareness"
  = image_tag "passing_moments_reduced.png", :class=>"gallery_card", :title=>"Passing moments"
  = image_tag "reflecting_reduced.png", :class=>"gallery_card", :title=>"Reflecting" 
  = image_tag "reframing_encounters_reduced.png", :class=>"gallery_card", :title=>"Reframing encounters"
  = image_tag "restraint_reduced.png", :class=>"gallery_card", :title=>"Restraint"
  = image_tag "savouring_reduced.png", :class=>"gallery_card", :title=>"Savouring" 
  = image_tag "self_possession_reduced.png", :class=>"gallery_card", :title=>"Self possession"
  = image_tag "silence_reduced.png", :class=>"gallery_card", :title=>"Silence"
  = image_tag "slow_down_reduced.png", :class=>"gallery_card", :title=>"Slow down"
  = image_tag "standing_reduced.png", :class=>"gallery_card", :title=>"Standing"
  = image_tag "timekeeping_reduced.png", :class=>"gallery_card", :title=>"Timekeeping"
  = image_tag "underlying_attitude_reduced.png", :class=>"gallery_card", :title=>"Underlying attitude"
  = image_tag "walking_reduced.png", :class=>"gallery_card", :title=>"Walking"
  = image_tag "weather_reduced.png", :class=>"gallery_card", :title=>"Weather"
  = image_tag "wholehearted_task_reduced.png", :class=>"gallery_card", :title=>"Wholehearted task"
  #bottom-banner

  
