-#  This file is app/views/movies/index.html.haml
%h2#header2 Intentions
%p
  %p#green
    Intentions you have selected to practice
    %p
    - if @selected != nil and @selected.size > 0
      - @selected.each do |i|
        %tr
          %td
            = ">"
            = i.header
            = link_to "more details »", i
            %p
    - else
      = "Nothing yet. (View an intentions details so you can select it to practice.)"
%p
  - if @private!=nil and @private.size > 0 
    %p#green
      Private to just you
      %p
        - @private.each do |i|
          %tr
            %td
            = ">"
            = i.header
            = link_to "more details »", i
            %p
  - else
    %p#green
      Private intentions
    %p
      You haven't created any private intentions
%p
  - if @public!=nil and @public.size > 0 
    %p#green
      Public intentions
      %p
        - @public.each do |i|
          %tr
            %td
            = ">"
            = i.header
            = link_to "more details »", i
            %p


=button_to "New", new_intention_path, :method => :get
=button_to "Log Out", :action => "destroy", :controller => "sessions"



