%h2#header2= @intention.header
%p
  - if @intention.private==true
    %p#green 
      ="This intention is private to just you"
  - else
    %p#green
      ="This intention can be seen and edited by everyone"
%p
  = "Creator is:"
  =@intention.user_id
%p
  =@intention.details
%p#green
  ="Why do this?"
%p
  =@intention.the_why
%p#green
  - if @intention.footnotes
    %p#green 
      ="Footnotes"
    %p
      =@intention.footnotes
%p#green
  - if @intention.tags
    %p#green 
      ="Tags"
    %p
      =@intention.tags
%p#green
  - if @intention.addendum
    %p#green 
      ="Addendum"
    %p
      =@intention.addendum    
%p
  = link_to 'Edit', edit_intention_path
  = link_to 'Delete', @intention,:confirm => 'Are you sure?',:method => :delete 
%p
  - if @selected == nil
    = button_to "Practice this intention", {:action => "chosen", :id => @intention.id}
  - else
    = button_to "Stop practicing this intention", {:action => "unchosen", :id => @intention.id}

  
