-# They reason there is a table with a width of 100% and then another inner table is because i followed advice
-# from this link: http://css-tricks.com/using-css-in-html-emails-the-real-story/

%table{:width => "100%"}
  %table
    %tbody
      %tr
        %td
          %h4{:style => "font-weight: bold;"} Daily Practice Intention.
      %tr
        %td
          Dear #{@user.first_name}, 
          %br 
          %br  
      %tr
        %td 
          You told us that you want to receive daily practice intentions, but you have to tell us which ones yet.
          %br
          %br
          -#=raw "(#{link_to "Select Intentions", intention_url(@intention, :host => "localhost:3000")})"
      %tr
        %td  
          If you want to work at being more conscious today then you can practice this intention
          which we randomly picked for you:
          %br
          %br
      %tr
        %td{:style => "color: #1c70db;"} 
          #{@intention.header}
          =raw "(#{link_to "more details »", intention_url(@intention, :host => "localhost:3000")})"
          %br
          %br
      %tr
        %td
          Take a very quick moment to think about it.
          %br
          %br
      %tr
        %td
          Now is a good time to choose when you can do the practice. Picture yourself doing it. Go on. 
          %br
      %tr
        %td
          %br
          %br
          To tell us which intentions you want to practice, view all available intentions and choose some.  
          =raw "(#{link_to "Select intentions", intentions_url(:host => "fierce-tundra-1616.herokuapp.com")})"
          %br
          %br
          Thanks for your help amigos and amigas.
          %br
          %br
      %tr
        %td
          Donal and MoreMindfully.com
          %br
          %br