-#  This file is app/views/movies/index.html.haml
%h2#header2 Editor
%p
  = form_for @user, :url => { :action => "update" } do |f| 
    %p
      = f.label :First_Name
      = f.text_field :first_name
    %p
      = f.label :Surname
      = f.text_field  :second_name
    %p
      = f.label :Password_digest
      = f.text_field :password_digest
    %p  
      = f.label :Email
      = f.text_field :email
    %p  
      = f.label :Continue_to_receive_daily_intentions?
      = f.check_box :receive_intentions      
    = f.submit "Update" 
