-#  This file is app/views/movies/index.html.haml
%h2#header2= @user.first_name+" "+@user.second_name
=@user.email
%p
  
%p#green
  ="Participation Status:"
%p
  - if @user.receive_intentions == true
    = "Receiving daily intentions"
  - else
    = "Not receiving daily intentions currently"    
%p
  
%p#green
  = "Selected intentions:"
- if @selected.size > 0
  %p
    - if @selected != nil
      - @selected.each do |i|
        %p 
          = ">"
          = i.header
          = link_to "+", i
- else
  None right now.
    
%p

  
%p#green
  ="Contributing these public intentions:"
- if @contributed_public.size > 0
  %p
    - if @contributed_public != nil
      - @contributed_public.each do |i|
        %p
          = ">"
          = i.header
          = link_to "+", i
- else
  None right now.

%p#green
  ="Contributing these private intentions:"
- if @contributed_private.size > 0
  %p
    - if @contributed_private != nil
      - @contributed_private.each do |i|
        %p
          = ">"
          = i.header
          = link_to "+", i
- else
  None right now.
  

%p

%p
  =button_to "Edit User", {:action => "edit", :id => @user.id}, :method => :get
  =button_to "Delete user", { :action => "destroy", :id => @user.id },
          :confirm => "Are you sure?", :method => :delete 
  =button_to "View Intentions", {:controller => "intentions", :action => "index"}
  

