<!DOCTYPE html>
<html lang="en" class="js canvas canvastext history pointerevents mti-helveticaneuew0145ligh-n4-active mti-helveticaneuew0175bold-n4-active mti-helveticaneuew01thin-n4-active mti-active">
<head>
  <title>MoreMindfully.com. | Find more moments. Create possibilities.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>   
	 
<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>


<%= yield %>

</body>
</html>
